absl-py==2.1.0
accelerate==0.28.0
ace_tools==0.0
aiofiles==0.8.0
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.3
APScheduler==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
Automat==22.10.0
babel==2.16.0
backcall==0.2.0
backports.tarfile==1.2.0
base58==2.1.1
beautifulsoup4==4.12.2
bitarray==2.9.2
bleach==6.1.0
blinker==1.8.2
bs4==0.0.1
cachetools==4.2.2
candlelite==1.0.17
certifi==2022.6.15
cffi==1.16.0
charset-normalizer==2.1.1
ckzg==2.0.1
click==8.1.7
cocos2d==0.6.9
coincurve==20.0.0
comm==0.1.4
constantly==23.10.4
construct==2.10.68
construct-typing==0.5.6
cryptography==42.0.8
cycler==0.11.0
cytoolz==0.12.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
et-xmlfile==1.1.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-typing==5.0.0
eth-utils==5.0.0
eth_abi==5.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.115.0
fastapi-cli==0.0.5
fastjsonschema==2.20.0
filelock==3.13.1
flatbuffers==24.3.7
fonttools==4.36.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
futures==3.0.5
gast==0.5.4
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
goslate==1.5.4
grpcio==1.62.1
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hexbytes==1.2.1
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.21.4
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
imageio==2.35.1
imbalanced-learn==0.12.0
imblearn==0.0
importlib_metadata==7.1.0
incremental==22.10.0
inexactsearch==1.0.2
iniconfig==2.0.0
ipykernel==6.25.2
ipython==8.15.0
ipywidgets==8.1.3
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.25
jsonalias==0.1.1
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keras==3.0.5
keyring==25.2.1
kiwisolver==1.4.4
lazy_loader==0.4
libclang==18.1.1
lru-dict==1.2.0
lyricsgenius==3.0.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.3.0
motor==3.6.0
mpmath==1.3.0
multidict==6.0.4
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.24.3
oauthlib==3.2.2
openai==0.28.1
opencv-python==4.10.0.84
openpyxl==3.1.4
opt-einsum==3.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==1.4.3
pandocfilters==1.5.1
parsimonious==0.10.0
parso==0.8.3
patsy==0.5.6
paux==1.0.14
pendulum==3.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.10.0
plotly==5.18.0
pluggy==1.5.0
poly_eip712_structs==0.0.1
prometheus_client==0.20.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-clob-client==0.18.0
py_order_utils==0.3.2
pyaes==1.6.1
pyarrow==17.0.0
pyasn1==0.5.1
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
PyDictionary==2.0.1
pyglet==1.5.26
Pygments==2.16.1
pymongo==4.9.2
pyOpenSSL==24.1.0
pyparsing==3.0.9
PySocks==1.7.1
pyspellchecker==0.8.1
pytest==8.3.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.12
python-okx==0.3.0
python-telegram-bot==13.15
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyunormalize==15.1.0
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.2
QtPy==2.4.1
redis==5.0.6
referencing==0.32.1
regex==2023.12.25
requests==2.32.3
requests-oauthlib==1.4.1
resend==2.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rlp==4.0.1
rpds-py==0.16.2
rsa==4.9
safetensors==0.4.2
schedule==1.2.2
scikit-image==0.24.0
scikit-learn==1.3.1
scipy==1.9.0
seaborn==0.11.2
selenium==4.21.0
Send2Trash==1.8.3
sha3==0.2.1
shellingham==1.5.4
silpa_common==0.3
six==1.16.0
slack_sdk==3.31.0
smart-open==7.0.1
smmap==5.0.1
sniffio==1.3.1
solana==0.34.3
solders==0.21.0
sortedcontainers==2.4.0
soundex==1.1.3
soupsieve==2.5
spellchecker==0.4
SQLAlchemy==2.0.35
stack-data==0.6.2
starlette==0.38.6
statsmodels==0.14.2
streamlit==1.38.0
sympy==1.12
tardis-dev==2.0.0a13
Telethon==1.34.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.2.0
tifffile==2024.8.30
time-machine==2.14.1
tinycss2==1.3.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.1
transformers==4.39.0
trio==0.25.1
trio-websocket==0.11.1
tronapi==3.1.6
tronpy==0.5.0
trx-utils==1.0.4
tweepy==4.14.0
Twisted==24.3.0
typer==0.12.5
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20240907
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==4.2
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.31.1
uvloop==0.20.0
watchfiles==0.24.0
wcwidth==0.2.6
web3==7.3.0
webcolors==24.8.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
yarl==1.9.2
zipp==3.19.2
zope.interface==6.4.post2
